@import url('https://fonts.cdnfonts.com/css/hades');



body {
    font-family: 'hades', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://w.wallhaven.cc/full/1k/wallhaven-1k5y8w.png');
    background-size: cover;
    backface-visibility: hidden;
    background-position: center;
}

.game-container {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 8px;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 8px;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

.card-front::after {
    content: '';
    background-color: #0f0303;
    position: relative;
    z-index: 1;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 8px;
}



.card:hover {
    filter: drop-shadow(0px 0px 30px rgb(209, 38, 38));
}

.card-front {
    background: rgb(255, 0, 55);
    background: linear-gradient(137deg, rgb(151, 1, 26) 0%, rgb(163, 87, 0) 100%);
    transition: 0.3s ease;
    filter: drop-shadow(0px 0px 30px rgba(255, 251, 0, 0.5));
}

.card-back {
    background: linear-gradient(68.15deg, #393572 16.62%, #ffffff 85.61%);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}

.card-back img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ui-btn {
    --btn-default-bg: rgb(41, 41, 41);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FAC921;
    --default-btn-color: #fff;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    --font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
    font-family: 'hades', sans-serif;
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    border-radius: 8px;
}

.ui-btn span {
    font-family: 'hades', sans-serif;
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
    background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}

.game-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }

    0% {
        transform: rotateZ(360deg);
    }
}

.front {
    transform: rotateY(180deg);
    color: white;
}

@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 80px);
        /* 2 columns */
        grid-template-rows: repeat(10, 80px);
        /* 10 rows */
    }

    .card {
        width: 80px;
        /* 20% smaller */
        height: 80px;
        /* 20% smaller */
    }
}